*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
label{
  display: block;
  font-size: 16px;
  font-weight: 500;
  padding: 6px 0;
}
.foam-div{
 background-color: rgb(170, 132, 132);
 padding: 20px;
}
.foam-div input,
.foam-div select{
  width: 100%;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid black;
}
.foam-div button{
  padding: 10px 20px;
  font-size: 14px;
  background-color: rgb(83, 62, 62);
  color: white;
  border-radius: 6px;
  border: none;
  margin-top: 15px;
}